html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(185, 75%, 39%);
  text-align: center;
  font-family: Kumbh Sans, sans-serif;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}

.template {
  background-color: #fff;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.bg-t1 {
  width: 60.825rem;
  height: 60.825rem;
  top: -34.8125rem;
  left: -17.625rem;
  position: absolute;
  background-size: contain;
}
.bg-t2 {
  position: absolute;
  width: 60.825rem;
  height: 60.825rem;
  top: 19rem;
  left: 43.1875rem;
}
.card {
  width: 350px;
  height: 380px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px hsla(0, 0%, 0%, 0.2);
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.card-img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.img-person {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 50%;
  position: relative;
  top: -17%;
  left: 34%;
  border: 6px solid white;
}

.card-details {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 2;
  flex-basis: 0px;
  position: relative;
  top: -50px;
  border-bottom: 2px solid hsl(0, 2%, 74%);
}
.name {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin-bottom: 10px;
}
.age {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}
.location {
  margin-bottom: 28px;
  color: hsl(227, 10%, 46%);
  font-size: 14px;
}
.card-stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  top: -25px;
  margin: 0px 20px;
  padding-left: 30px;
}
.stat {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin-right: 50px;
  text-align: center;
  width: 60px;
}
.stat p {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-top: 10px;
  color: hsl(227, 10%, 46%);
}

/* responsive */
@media only screen and (max-width: 375px) {
  .bg-t1 {
    width: 28.0625rem;
    height: 28.0625rem;
    top: -13.8125rem;
    left: -13.0625rem;
  }
  .bg-t2 {
    width: 33.375rem;
    height: 33.375rem;
    left: 164px;
    bottom: 23.25px;
  }
  .card {
    width: 19.375rem;
    height: 22rem;
  }
}
